<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% set cpath = request.contextPath %}
    {% set csrf = request.getAttribute("_csrf") %}

    <form action="{{ cpath }}/logout" method="POST">
        <input type="hidden" 
        name="{{ csrf.getParameterName() }}"
        value="{{ csrf.getToken() }}">
        <input type="submit" name="logoutbutton" value="logout"/>
    </form>
    {% secauthorize "hasRole('ROLE_ADMIN')" %}
    <p>
        This is for Admin
    </p>
    {% else %}
    <p>
        This is for Not admins
    </p>
    {% endsecauthorize %}
</body>
</html>


